<div class="chess-board" data-width="480" data-black="#333">

</div>
<script type="text/javascript">
  let game =  create_chess_board($('div.chess-board'),<%= @game.id %>, <%= @game.getBoardObject.to_json %>);
  window.TYPES = <%= Piece::getTypeMapForJS().to_json.html_safe %>;
  game();
  $('body').on('chess-render-board',game);
</script>

